.contenedor-boton {
  align-items: center;
  display: flex;
}

.bg-watsy {
  background-color: #FF6600;
}

.bg-dark-black {
  background-color: #1D1D1B;
}

.border-watsy {
  border: 3px solid #FF6600;
}

.btn-outline-watsy {
  color: #FF6600;
  border-color: #FF6600;
}

.btn-outline-watsy:hover {
  color: white;
  background-color: #FF6600;
}

.remarcar {
  border: 2px solid rgb(169, 22, 22);
}